["Azeron LTD Azeron Keypad"]

name = "cyborg"
devname = "cyborg"
exclusive = "true"
change_permissions = "true"
flatten = "true"
rumble = "false"
device_type = "keyboard"

split=2
1.device_type = "keyboard"
2.device_type = "mouse"

# Axis
2.abs_x              = "abs_x", "X Axis"
2.abs_y              = "abs_y", "Y Axis"

# Thumb
1.key(713)           = "t1"
1.key(709)           = "t2"
1.key(708)           = "t3"
1.key(707)           = "t4"

# Index
1.key(706)           = "i1"
1.key(291)           = "i2"
1.key(296)           = "i3"
1.key(300)           = "i4"
1.key(704)           = "i5"
1.key(292)           = "ie"

# Middle
1.key(705)           = "m1"
1.key(290)           = "m2"
1.key(295)           = "m3"
1.key(299)           = "m4"
1.key(303)           = "m5"

# Ring
1.key(712)           = "r1"
1.key(289)           = "r2"
1.key(294)           = "r3"
1.key(298)           = "r4"
1.key(302)           = "r5"

# Pinkie
1.key(711)           = "p1"
1.key(288)           = "p2"
1.key(293)           = "p3"
1.key(297)           = "p4"
1.key(301)           = "p5"
1.key(710)           = "pe"

