["HP, Inc HyperX Pulsefire Haste Wireless"]
name = "hyper-x"
devname = "hyper-x"
exclusive = "false"
change_permissions = "true"
flatten = "true"
rumble = "false"
device_type = "keyboard"

# split=3
# 1.device_type = "mouse"
# 2.device_type = "keyboard"
# 3.device_type = "gamepad"

key(274)           = "mouse3"
key(276)           = "mouse4"
key(275)           = "mouse5"
