["Thrustmaster Sim Pedals"] 

name = "tlcm"
devname = "tlcm"
exclusive = "true"
change_permissions = "true"
flatten = "true"
rumble = "false"
device_type = "mouse"


# Axis
abs_x = "abs_x", "X Axis"
abs_y = "abs_y", "Y Axis"
abs_z = "abs_z", "Z Axis"

