["VKB-Sim (C) Alex Oz 2023  VKBsim Gladiator EVO R  "] 

name = "vkb-right"
devname = "vkb-right"
exclusive = "true"
change_permissions = "true"
flatten = "true"
rumble = "false"
device_type = "keyboard"

split=3
1.device_type = "mouse"
2.device_type = "keyboard"
3.device_type = "gamepad"

# Axis
1.abs_x = "abs_x", "X Axis"
3.abs_x = "g__abs_x", "X Axis"
1.abs_y = "abs_y", "Y Axis"
1.abs_rz = "abs_z", "Z Axis"

# Tiggers
2.btn_trigger        = "t1a", "Tigger Stage 1"
3.btn_trigger        = "g__t1a", "Tigger Stage 1"
2.btn_thumb          = "t1b", "Trigger Stage 2"
3.btn_thumb          = "g__t1b", "Trigger Stage 2"
2.btn_trigger_happy6 = "t2a"
3.btn_trigger_happy6 = "g__t2a"
2.btn_trigger_happy5 = "t2b"
3.btn_trigger_happy5 = "g__t2b"
2.btn_top            = "i1"
3.btn_top            = "g__i1"
2.btn_top2           = "p1"
3.btn_top2           = "g__p1"

# Thumbs
2.btn_thumb2         = "th1"
3.btn_thumb2         = "g__th1"
2.btn_trigger_happy4 = "th2"
3.btn_trigger_happy4 = "g__th2"

# Hat0
1.abs_hat0x          = "abs_hat0x"
1.abs_hat0y          = "abs_hat0y"

# Hat1
2.btn_pinkie         = "hat1u"
3.btn_pinkie         = "g__hat1u"
2.btn_base           = "hat1r"
3.btn_base           = "g__hat1r"
2.btn_base2          = "hat1d"
3.btn_base2          = "g__hat1d"
2.btn_base3          = "hat1l"
3.btn_base3          = "g__hat1l"
2.btn_base4          = "hat1c"
3.btn_base4          = "g__hat1c"

# Hat2
2.btn_base5          = "hat2u"
3.btn_base5          = "g__hat2u"
2.btn_base6          = "hat2r"
3.btn_base6          = "g__hat2r"
2.key(300)           = "hat2d"
3.key(300)           = "g__hat2d"
2.key(301)           = "hat2l"
3.key(301)           = "g__hat2l"

# Base Buttons
2.btn_trigger_happy11 = "f1", "Base F1 Button"
3.btn_trigger_happy11 = "g__f1", "Base F1 Button"
2.btn_trigger_happy12 = "f2", "Base F2 Button"
3.btn_trigger_happy13 = "g__f3", "Base F3 Button"
2.btn_trigger_happy13 = "f3", "Base F3 Button"
3.btn_trigger_happy13 = "g__f3", "Base F3 Button"

